<h1>Rick's Sneaker Store</h1>
<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<section>
  <h2>All Stock</h2>
  <table>
    <!-- <caption>All Stock</caption> -->
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Model Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
      <% @models.each do |model| %>

        <td><%=model.brand.brand_name%></td>
        <td><%=model.model_name%></td>
        <td><%=model.quantity%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
