<!DOCTYPE html>
<html>
<head>
  <title>Rick's Sneaker Shop</title>

  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>
<body>


  <h1 class="logo">RICK'S<div> SNEAKER<div> SHOP</h1>
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">

  <%= yield %>
</body>
</html>
