<!DOCTYPE html>
<html>

  <head>
    <title>Rick's Sneaker Shop</title>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="logo">
        <h1>RICK'S SNEAKER SHOP</h1>
      </div>
    </header>

    <section class="main">
      <%= yield %>
    </section>

  </body>

</html>
