<a href="/">HOME</a>

<form method="post" action="/models">

  <select name="brand_id" id="brand_id">
    <% @brands.each do |brand| %>
    <option value=<%= brand.id %>><%= brand.brand_name %></option>
    <% end %>
  </select>

<label for="model_name">Model Name:</label>
<input id="model_name" type="text" name="model_name" />

<label for="style">Style:</label>
<input id="style" type="text" name="style" />

<label for="quantity">Quantity:</label>
<input id="quantity" type="number" name="quantity" />

<input type='submit' value="Submit"/>

</form>
