<a href="/">HOME</a>

<form method="post" action="/models">
  <label for="model_name">Model Name:</label>
    <input id="model_name" type="text" name="model_name" />
    <label for="quantity">Quantity:</label>
      <input id="quantity" type="number" name="quantity" />
    <input type='submit' value="Submit"/>
</form>
