<a href="/">HOME</a>

<form method="post" action="/models">

  <select name="brand_id" id="brand_id">
    <% @brands.each do |brand| %>
    <option value=<%= brand.id %>><%= brand.brand_name %></option>
    <% end %>
  </select><div>

<label for="model_name">Model Name:</label><div>
<input id="model_name" type="text" name="model_name" /><div>

<label for="style">Style:</label><div>
<input id="style" type="text" name="style" /><div>

<label for="quantity">Quantity:</label><div>
<input id="quantity" type="number" name="quantity" /><div>

<label for="buy_price">Buy Price:</label><div>
<input id="buy_price" type="number" name="buy_price" /><div>

<label for="sell_price">Sell Price:</label><div>
<input id="sell_price" type="number" name="sell_price" /><div>

<input type='submit' value="Submit"/>

</form>
