body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  display: block;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  line-height: 1.1;
  font-size: 30px;
  padding: 5px;
}


table {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  border-collapse: collapse;
  width: 70%;
  background-position: center;
  position: fixed;
  left: 15%;
  top: 35%;
}

td, th {
  border: 2px solid #dddddd;
  border-color: black;
  background-color: #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.stock_level_high {
  background-color: green;
}

.stock_level_medium {
  background-color: orange;
}

.stock_level_low {
  background-color: red;
}

.stock_level_out_of_stock {
  background-color: red;
}

.form-center {
  width: 200px;
  margin: 0 auto;
}

.form-center form input {
  padding-left: 40;
  padding-right: 40;
  padding-top: 20;
  padding-bottom: 20;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.form-center form label {
  font-size: 30px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.form-center form button{
  padding: 10px;
  background-color: green;
  margin: 5px 5px 5px 5px;
  font-size: 20px;
  width: 233px;
  margin-left: 0;
  font-family: 'Roboto', sans-serif;
}

.nav-blocks {
  padding: 10;
  width: 500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;



}



nav ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  height:125px;
  width:250px;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}



.nav-blocks nav ul li {
  border: 2px solid black;
  display: inline;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

.nav-blocks nav ul {
  list-style-type: none;
  min-width: 696px;
}

#brand_id {
  width: 235px;
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
