body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  display: block;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  line-height: 1.1;
  font-size: 30px;
  padding: 5px;
}


table {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  border-collapse: collapse;
  width: 70%;
  background-position: center;
  position: fixed;
  left: 15%;
  top: 35%;
}

td, th {
    border: 2px solid #dddddd;
    border-color: black;
    background-color: #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*.navigation-bar {

  background-color: #dddddd;
  border: 2px solid #dddddd;
  border-color: black;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;

}

.nav-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 300px 300px 0 300px;
}*/


.stock_level_high {
  background-color: green;
}

.stock_level_medium {
  background-color: orange;
}

.stock_level_low {
  background-color: red;
}
