<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/brands/new">ADD BRAND</a></li>
    <li><a href="/models/new">ADD MODEL</a></li>
  </ul>
</nav>


<table style="width:75%">
<section>
  <table>
    <thead>
      <tr>
        <th>All Brands</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @brand_name.each do |brand| %>
        <td><%=brand.brand_name%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
