
<a href="/">HOME</a>
<a href="/brands/new">ADD BRAND</a>
<a href="/models/new">ADD MODEL</a>

<table style="width:100%">
<section>
  <h2>All Brands</h2>
  <table>
    <thead>
      <tr>
        <th>Brand Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
      <% @brand_name.each do |brand| %>

        <td><%=brand.brand_name%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
