<form>
  <label for="brand_name">Brand Name:</label>
    <input id="brand_name" type="text" name="brand_name" />
    <input type='submit' value="Submit"/>
</form>

<form method="post" action="/pizzas">
