<a href="/">HOME</a>

<form method="post" action="/brands">
  <label for="brand_name">Brand Name:</label><div>
    <input id="brand_name" type="text" name="brand_name" /><div>
    <input type='submit' value="Submit"/>
</form>
