<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/models/new">ADD MODEL</a></li>
    <li><a href="/models">CHECK STOCK</a></li>
  </ul>
</nav>

<section class="form-center">

    <form method="post" action="/brands">
      <div>
        <label for="brand_name">Brand Name:</label>
      </div>
      <div>
        <input id="brand_name" type="text" name="brand_name"/>
      </div>
      <div>
        <button>Add New Brand >></button>
      </div>
    </form>

</section>
